@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
}

#timer{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20em;
}
